<h1>
  {{ title }}
</h1>
<h3
  class="server">
  Server listening on {{serverUrl }}
</h3>
<div
  *ngIf="getEmail() != null"
  class="email-name">
  <h3>
    {{ getEmail() }}
  </h3>
  <h4
    *ngIf="getName() != null">
    {{ getName() }}
  </h4>
</div>
<button
  *ngIf="signedOut"
  (click)="signIn()">
  Sign in
</button>
<button
  *ngIf="false"
  [disabled]="true"
  (click)="signUp()">
  Sign up
</button>
<button
  *ngIf="signedIn"
  (click)="signOut()">
  Sign out
</button>
<button
  (click)="getData()">
  Get data
</button>
<button
  (click)="getAuthorizedData()">
  Get authorized data
</button>
<div
  class="data"
  [ngStyle]="dataColor">
  {{ data }}
</div>
